<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:site_name" content="Website Name" />
    <meta property="og:url" content="URL to Page" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Page Title" />
    <meta property="og:description" content="Page Description" />

    <meta property="og:image" content=" <%= metaTagInfo[0].image %>" />
  </head>
  <body class="container">
    <header></header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
